* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFF;
}

.section--blue {
    background-color: dodgerblue;
}

.section--dark {
    background-color: gold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    background-color: #F2F5F6;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-element {
    display: flex;
    gap: 40px;
    color: #12141D;
    align-items: center;
}

.nav-element>a {
    color: #12141D;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.nav-btn {
    display: flex;
    gap: 10px;
}

.nav-btn>button {
    gap: 10px;
    width: 92px;
    height: 50px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 42px;
}

.nav-btn>button:nth-child(1) {
    color: #043A53;
    background-color: #FFF;
    border: none;
}

.nav-btn>button:nth-child(2) {
    background-color: #043A53;
    color: #FFF;
}

.hamberger {
    justify-content: center;
    align-items: center;
    display: none;
}

.container {
    width: auto;
    margin: 0px 16px;
}

.hero-section {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hero-section {
    width: 1200px;
    height: 340px;
    display: flex;
    justify-content: center;
}

.first-hero {
    width: 200px;
    height: 100%;
    order: 1;
}

.second-hero {
    width: 710px;
    height: 280px;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.third-hero {
    width: 210px;
    height: 100%;
    order: 3;
}

.hero-text>h1 {
    font-family: Lato;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -2%;
    text-align: center;
}

.hero-text>p {
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.hero-btn {
    width: 410px;
    height: 65px;
    gap: 32px;
    display: flex;
}

.hero-btn>button {
    width: 141px;
    height: 60px;
    gap: 25px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-radius: 55px;
    background-color: #043A53;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
}

.hero-play-btn {
    width: 236px;
    height: 67px;
    gap: 16px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-play-btn>p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;

}

.play-logo {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #043A53;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
}

.play-logo>p {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #F2F5F6;
    transform: rotate(90deg);
    margin: 0;
}

/* trusted brands section css */

.brands-container {
    background-color: #FFF;
    height: 100px;
    width: 1440px;
    margin: auto;
}

.brands {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 64px;
    align-items: center;
    background-color: #FFF;
}

.brands>p {
    width: 260px;
    text-align: left;
    font-size: 16px;
}

.brands-list {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: space-between;
}

/* video section css */

.video-section {
    width: 1440px;
    height: 940px;
    gap: 64px;
    padding-top: 100px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 0px;
    background-color: #043A53;
}

.video-section>div {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-description {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: space-between;
}

.video-description>h1 {
    width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #FFF;
}

.video-description>h1>span {
    color: #F0B73F;
}

.video-description>div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.video-description>div>p {
    width: 432px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFF;
}

.video-thumbnail {
    width: 100%;
    height: 640px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.video-thumbnail>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.video-thumbnail>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.video-thumbnail-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-thumbnail-play .play-icon {
    width: 0;
    height: 0;
    border-left: 24px solid #043A53;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

/* benefits section css */

.benefits-section {
    width: 1440px;
    height: 670px;
    background-color: #FFF;
    gap: 64px;
    padding: 100px 150px;
}


.benefits-section>div {
    width: 1140px;
    height: 470px;
    background-color: #FFF;
    margin: auto;
    display: flex;
    gap: 64px;
}

.benefits-container-1 {
    width: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.benefits-container-1>button {
    width: 125px;
    height: 43px;
    gap: 10px;
    padding: 4px 24px;
    border-radius: 100px;
    background-color: #043A53;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #FFF;
    border: none;


}

.benefits-container-1>h1 {
    width: 100%;
    height: 144px;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #12141D;
}

.benefits-container-1>p {
    width: 100%;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #12141D;
}

.benefits-container-2 {
    width: 820px;
    height: 100%;
    display: flex;
    gap: 16px;
}

.benefit-card {
    width: 262.67px;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 24px;
    border-radius: 16px;
    background-color: #F2F5F6;
}

.benefits-container-2>div:last-child {
    height: 470px;
}


.benefit-card>svg {
    width: 93px;
    height: 84px;
}

.benefits-container-2>div:last-child>svg {
    width: 104px;
    height: 104px;
}

.benefit-card>h3 {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.benefit-card>p {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

/* numbers section css */

.numbers-section {
    width: 1440px;
    height: 320px;
    background-color: #FFF;
    gap: 64px;
    padding: 100px 150px;
}


.numbers-section>div {
    width: 1140px;
    height: 120px;
    background-color: #FFF;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
}

.numbers-card {
    width: 237px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers-card>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    text-align: center;
    color: #043A53;
}

.numbers-card>p {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1E1E;
}

/* building bridges section css */

.bridges-section {
    width: 1440px;
    height: 700;
    background-color: #FFF;
    gap: 77px;
    display: flex;
}

.bridges-container-1 {
    width: 700px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    order: 1
}

.bridges-container-1>img {
    width: 629px;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.bridges-container-1>svg {
    position: absolute;
    bottom: 0px;
}

.bridges-container-2 {
    width: 511px;
    height: 700px;
    gap: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 2
}

.bridges-container-2>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #12141D;

}

.bridges-container-2>h1>span {
    color: #92A7B0;
}

.bridges-container-2>p {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.bridges-view-btn {
    width: 205px;
    height: 64px;
    gap: 25px;
    padding: 16px 16px 16px 24px;
    border-radius: 55px;
    background-color: #043A53;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.bridges-view-btn>p:last-child {
    width: 24px;
    height: 24px;
    background-color: #F2F5F629;
    text-align: center;
    border-radius: 50%;
}



/* meet founders section css */

.founders-section {
    width: 1440px;
    height: 774px;
    background-color: #FFF;
    gap: 77px;
    padding: 100px 0px 100px 0px;

}

.founders-section>div {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 64px;
}

.founders-container-2 {
    width: 700px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2
}

.founders-container-2>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.founders-container-2>svg {
    position: absolute;
    bottom: -70px;
    left: -400px;
}

.founders-container-1 {
    width: 511px;
    height: 700px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    order: 1;
}

.founders-container-1>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #12141D;

}

.founders-container-1>h1>span {
    color: #92A7B0;
}

.founders-container-1>p {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.founders-team-btn {
    width: 336px;
    height: 64px;
    gap: 25px;
    padding: 16px 16px 16px 24px;
    border-radius: 55px;
    background-color: #043A53;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.founders-team-btn>p:last-child {
    width: 24px;
    height: 24px;
    background-color: #F2F5F629;
    text-align: center;
    border-radius: 50%;
}

/* testimonial section css */

.testimonial-section {
    width: 1440px;
    height: 671px;
    padding: 100px 150px;
    background-color: #F2F5F6;
}

.testimonial-section>div {
    display: flex;
    width: 1140px;
    flex-direction: column;
    gap: 64px;
}

.testimonial-container-1 {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.testimonial-container-1>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
}

.testimonial-container-1>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial-container-1>div>p {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
}

.testimonial-container-2 {
    display: flex;
    width: 100%;
    height: 260px;
    gap: 32px;
}

.testimonial-container-2>div {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #00000014;
}

.testimonial-container-2>div>p {
    width: 47px;
    height: 14px;
    opacity: 0.9;
    font-family: Lato;
    font-weight: 700;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: -1.67px;
    color: #F0B73F;
}

.testimonial-container-2>div>h6 {
    height: 96px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #12141D;
}

.testimonial-user {
    display: flex;
    width: 299px;
    height: 53px;
    gap: 12px;
}

.testimonial-user>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.testimonial-user>div>h6 {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.testimonial-user>div>p {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #404040;
}

.testimonial-container-3 {
    width: 173px;
    height: 12px;
    margin: auto;
    display: flex;
    gap: 11px;
}

.testimonial-container-3>div {
    width: 20px;
    border-radius: 10px;
    background-color: #D7E0E5;
}

.testimonial-container-3>div:nth-child(2) {
    width: 80px;
    border-radius: 10px;
    background-color: #043A53;
}

.testimonial-container-4 {
    display: none;
}

#testimonials-card {
    display: none;
}


/* blogs section css */

.blogs-section {
    width: 1440px;
    height: 923px;
    padding: 100px 150px 150px 150px;
    background-color: #F2F5F6;
}

.blogs-section>div {
    display: flex;
    width: 1140px;
    flex-direction: column;
    gap: 64px;
}

.blogs-container-1 {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.blogs-container-1>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
}

.blogs-container-1>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.blogs-container-1>div>p {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
}

.blogs-container-1 span {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    color: #043A53;
}

.blogs-container-2 {
    display: flex;
    width: 100%;
    height: 537px;
    gap: 32px;
}

.blogs-container-2>div {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #00000014;
    border: 1px solid #F2F5F6
}

.blogs-container-2>div>img {
    width: 100%;
    height: 257px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blogs-inner-card {
    width: 100%;
    height: 264px;
    padding-right: 25px;
    padding-bottom: 24px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blogs-inner-card>h6 {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.blogs-inner-card>p:nth-child(1) {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.blogs-inner-card>p:nth-child(1) span {
    color: #404040;
    font-weight: 400;
    margin-left: 10px;
}

.blogs-inner-card>p:nth-child(3) {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #404040;
}

.blogs-inner-card>div {
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

/* cta banner css */

.cta-banner-section {
    width: 1440px;
    height: 520px;
    background-color: #12141D;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.cta-banner-section>div {
    margin-left: 150px;
    width: 673px;
    height: 312px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cta-banner-section>div>h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.cta-banner-section img {
    position: absolute;
    top: 0;
    right: 0px;
    width: 773px;
    height: 700px;
    object-fit: cover;
}

.cta-banner-section>div>div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.trial-btn {
    width: 273px;
    height: 64px;
    gap: 25px;
    padding: 16px 16px 16px 24px;
    border-radius: 55px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #F0B73F;
}

.trial-btn>p:last-child {
    width: 24px;
    height: 24px;
    background-color: #F2F5F629;
    text-align: center;
    border-radius: 50%;
}


/* footer section css */

.footer-section {
    width: 1440px;
    height: 390px;
    background-color: #FFF;
    padding: 80px 150px;
}

.footer-section>div {
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
}

.footer-card-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-social-links {
    display: flex;
    width: 247px;
    height: 40px;
    gap: 16px;
}

.footer-social-links>div {
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #D7E0E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-links img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.footer-social-links>div:nth-child(1)>img {
    background-color: #FFF;
}

.footer-card-2>p {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.footer-card-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-card-3>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-card-3 h4 {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.footer-card-3 a {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #404040;
}

/* Site credit section css */

.site-credit-section {
    width: 1440px;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F2F5F6;

}
.site-credit-section > div {
    width: 676px;
    height: 278px;
    border-radius: 20px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-credit-section > div > p {
    width: 100%;
    height: 84px;
    gap: 10px;
    text-align: center;
    padding-top: 30px;
    border-bottom: 1px solid #888888;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.site-credit-section span {
    color: #6439FF;
}

.collaboarators {
    width: 100%;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 100px;
}
.collaboarators > p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.collaboarators > div {
    display: flex;
    gap: 19px;
}
.collaboarators img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.terms-section {
    width: 1440px;
    height: 72px;
    
    border-top: 1px solid #000000;
}
.terms-section > div {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #92A7B0;
}
.term-policy {
    display: flex;
    gap: 16px;
}
.term-setting {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.term-policy img {
    width: 24px;
    height: 24px;
}

/* Mobile Styles */
@media (max-width: 468px) {
    .container {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .nav-element {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .hamberger {
        display: flex;
    }

    .hero-section {
        background-color: #F2F5F6;
    }

    .hero-section {
        height: 500px;
    }

    .inner-hero-section {
        width: 90%;
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-hero,
    .third-hero {
        width: 100%;
        height: 120px;
        text-align: center;
        border: 1px solid blue;
    }

    .second-hero {
        width: 100%;
        height: auto;
        order: 1;
    }

    .first-hero {
        order: 2;
        display: none;
    }

    .third-hero {
        order: 3;
        display: none;
    }

    .hero-text>h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
    }

    .hero-text>p {
        font-size: 14px;
        line-height: 20px;
        padding: 0px;
    }

    .hero-btn {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .brands-container {
        width: 100%;
        height: 250px;
        padding: 10px;
    }

    .brands {
        width: 90%;
        align-items: center;
        gap: 30px;
        justify-content: center;
        flex-direction: column;
    }

    .brands>p {
        width: 90%;
        text-align: center;
        font-size: 16px;
    }

    .brands-list {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }

    /* video section css for mobile screen */

    .video-section {
        width: 100%;
        height: 450px;
        gap: 25px;
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0px;
    }

    .video-section>div {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .video-description {
        width: 100%;
        height: 172px;
        gap: 10px;
        flex-direction: column;
        justify-content: space-between;
    }

    .video-description>h1 {
        width: 100%;
        font-size: 30px;
        line-height: 38px;
    }

    .video-description>div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }

    .video-description>div>p {
        width: 100%;
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;
    }

    .video-thumbnail {
        width: 100%;
        height: 186px;
    }

    .video-thumbnail>a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .video-thumbnail>a>img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .video-thumbnail-play {
        width: 35px;
        height: 35px;
    }

    .video-thumbnail-play .play-icon {
        width: 0;
        height: 0;
        border-left: 12px solid #043A53;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    /* benefits section css */
    .benefits-section {
        width: 100%;
        height: 1160px;
        gap: 32px;
        padding: 50px 20px;
    }

    .benefits-section>div {
        width: 100%;
        height: 100%;
        margin: auto;
        flex-direction: column;
        gap: 32px;
    }

    .benefits-container-1 {
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .benefits-container-1>button {
        width: 93px;
        height: 26px;
        gap: 10px;
        padding: 4px 16px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
    }

    .benefits-container-1>h1 {
        width: 100%;
        font-size: 30px;
        line-height: 38px;
        text-align: center;

    }

    .benefits-container-1>p {
        width: 100%;
        height: 90px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .benefits-container-2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .benefit-card {
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .benefits-container-2>div:last-child {
        height: 300px;
    }


    .benefit-card>svg {
        width: 93px;
        height: 84px;
    }

    .benefits-container-2>div:last-child>svg {
        width: 80px;
        height: 76px;
    }

    .benefit-card>h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .benefit-card>p {
        font-size: 14px;
        line-height: 20px;
    }

    /* numbers section css for mobile screen */

    .numbers-section {
        width: 100%;
        height: 284px;
        gap: 32px;
        padding: 50px 20px;
    }

    .numbers-section>div {
        width: 100%;
        height: 120px;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
    }

    .numbers-card {
        width: 158px;
        height: 76px;
    }

    .numbers-card>h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .numbers-card>p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }


    /* building bridges section css for mobile screen */

    .bridges-section {
        width: 100%;
        height: 770;
        background-color: #FFF;
        gap: 32px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .bridges-container-1 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        order: 2
    }

    .bridges-container-1>img {
        width: 85%;
        height: 100%;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .bridges-container-1>svg {
        position: absolute;
        bottom: 0;
        left: 20px;
        width: 500px;
        height: 500px;
    }

    .bridges-container-2 {
        width: 100%;
        height: 300px;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        order: 1;
        padding-left: 20px;
        padding-right: 20px;

    }

    .bridges-container-2>h1 {
        width: 320px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        line-height: 38px;

    }

    .bridges-container-2>h1>span {
        color: #92A7B0;
    }

    .bridges-container-2>p {
        font-family: Lato;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0%;
    }

    .bridges-view-btn {
        width: 205px;
        height: 64px;
        gap: 25px;
        padding: 16px 16px 16px 24px;
        border-radius: 55px;
        background-color: #043A53;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }

    .bridges-view-btn>p:last-child {
        width: 24px;
        height: 24px;
        background-color: #F2F5F629;
        text-align: center;
        border-radius: 50%;
    }

    /* meet founders section css */

    .founders-section {
        width: 100%;
        height: 960px;
        gap: 32px;
        padding: 50px 20px;

    }

    .founders-section>div {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .founders-container-2 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 2;
    }

    .founders-container-2>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .founders-container-2>svg {
        display: none;
        /* position: absolute;
        bottom: -100px;
        left: -400px;
        height: 400px;
        width: 500px; */

    }

    .founders-container-1 {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        order: 1;
    }

    .founders-container-1>h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .founders-container-1>h1>span {
        color: #92A7B0;
    }

    .founders-container-1>p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .founders-team-btn {
        width: 336px;
        height: 64px;
        gap: 25px;
        padding: 16px 16px 16px 24px;
        border-radius: 55px;
        background-color: #043A53;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }

    .founders-team-btn>p:last-child {
        width: 24px;
        height: 24px;
        background-color: #F2F5F629;
        text-align: center;
        border-radius: 50%;
    }

    /* testimonial section css for mobile screen */

    .testimonial-section {
        width: 100%;
        height: 556px;
        padding: 50px 20px;
        overflow: hidden;
    }

    .testimonial-section>div {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }

    .testimonial-container-1 {
        display: flex;
        width: 100%;
        height: 75px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testimonial-container-1>h1 {
        text-align: center;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0%;
    }

    .testimonial-container-1>div {
        display: none;
    }

    .testimonial-container-1>div>p {
        font-family: Lato;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: right;
        vertical-align: middle;
    }

    .testimonial-container-2 {
        display: flex;
        width: 862px;
        height: 244px;
        margin-left: -45%;
        gap: 16px;
        order: 3;
    }

    .testimonial-container-2>div {
        width: 276px;
        height: 100%;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 2px 0px #00000014;
    }

    .testimonial-container-2>div>h6 {
        width: 100%;
        height: 96px;
        font-size: 16px;
        line-height: 24px;
    }

    #testimonials-card {
        display: flex;
    }

    .testimonial-user {
        display: flex;
        width: 299px;
        height: 53px;
        gap: 12px;
    }

    .testimonial-user>img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .testimonial-user>div>h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .testimonial-user>div>p {
        font-size: 12px;
        line-height: 18px;
    }

    .testimonial-container-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        order: 4;
    }

    .testimonial-container-4>p {
        font-family: Lato;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: right;
        vertical-align: middle;
    }

    /* blogs section css for mobile screen */

    .blogs-section {
        width: 100%;
        height: 697px;
        padding: 50px 20px;
        background-color: #F2F5F6;
        overflow: hidden;
    }

    .blogs-section>div {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }

    .blogs-container-1 {
        height: 38px;
        flex-direction: column;
    }

    .blogs-container-1>div {
        display: none;
    }

    .blogs-container-1>h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .blogs-container-1 span {
        font-size: 30px;
        line-height: 38px;
    }

    .blogs-container-2 {
        display: flex;
        width: 897px;
        height: 467px;
        gap: 16px;
        margin-left: -45%;
    }

    .blogs-container-2>div>img {
        width: 100%;
        height: 257px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .blogs-inner-card {
        height: 194px;
        padding: 0px 16px 16px 16px;
        gap: 8px;
    }

    .blogs-inner-card>h6 {
        font-size: 18px;
        line-height: 28px;
    }

    .blogs-inner-card>p:nth-child(1) {
        font-size: 12px;
        line-height: 18px;
    }

    .blogs-inner-card>p:nth-child(1) span {
        color: #404040;
        font-weight: 400;
        margin-left: 10px;
    }

    .blogs-inner-card>p:nth-child(3) {
        font-size: 14px;
        line-height: 20px;
    }

    .blogs-inner-card>div {
        font-size: 14px;
        line-height: 20px;
    }

    /* cta banner css for mobile screen*/

    .cta-banner-section {
        width: 100%;
        height: 620px;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .cta-banner-section>div {
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 40px;
        padding-left: 30px;
        gap: 24px;
        align-items: center;
    }

    .cta-banner-section>div>h1 {
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }

    .cta-banner-section img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cta-banner-section>div>div {
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    /* footer section css for mobile screen */

    .footer-section {
        width: 100%;
        height: 552px;
        padding: 50px 20px;
    }

    .footer-section>div {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .footer-card-1 {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-social-links {
        margin-left: 30px;
    }

    .footer-card-2>p {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-card-3 {
        width: 100%;
        display: flex;
    }

    .footer-card-3>div {
        width: 100%;
    }
  
}


@media (min-width: 768px) {
    .container {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
    }

    .inner-hero-section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1440px;
    }

    .inner-hero-section {
        width: 100%;
        flex-direction: row;
    }
}


/* Global Styles */

/* Box-sizing rule for easier layout calculations */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    /* padding: 16px; */
}

/* Color Palette (CSS Variables) */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --background-color: #f4f4f4;
    --text-color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}